body {
  max-width:62em;
  margin:auto;padding:1em;
  margin-top:1em;
  margin-bottom:1em;
  border-left:1px solid #90A2B4;
  border-right:1px solid #90A2B4;
 }

html {
  background-position:left top;
  background-repeat:repeat-x;
  background-color:#9bc1c5;
  background-image:url(/corpus/html/tla_bg.png);
 }

a:link, a:visited {
  color:#45707A;
}

a:hover {
  text-decoration:none;
}

div.figure {
  text-align:center;
  margin-top:2em;
}

span.guimenu, span.guisubmenu, span.guimenuitem, span.guibutton, span.guilabel {
  font-weight:bold;
}
